.menu-three-dropdown-con{
  width: 100%;
  position: relative;
  display: none;

}
.menu-three-item{
  width: 100%;
  @include text-overflow();
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding:0px  20px 0px 40px;
  cursor: pointer;
  background-color:$menu-three-bgcolor;
  color: $menu-three-ftcolor;
  &:before{
    margin-right: 5px;
  }
  &:hover{
   background-color: $menu-three-bgcolor-hover;
   color:$menu-three-ftcolor-hover ;
    >span{
      display: inline-block;
    }
  }
  &.active{
    background-color: $menu-three-bgcolor-active;
    color:$menu-three-ftcolor-active ;
  }
  >span{
    position: absolute;
    right: 0px;
    text-align: center;
    @include opacity(0.6);
    width: 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    display: none;
    &.menu-next-control{
      &:before{
        font-size: 12px;
      }
    }
  }
}