* { box-sizing: border-box; font-size: 16px; }

body,html {
  font-family: "Microsoft YaHei";
  padding: 0px;
  margin: 0px;
  @include beautifyScrollbar();
}

ul { margin: 0px; padding: 0px; display: block; list-style-type: none; }

@mixin clear-after{
  &:after { content: "."; display: block; height: 0; width: 0; clear: both; visibility: hidden; }
}

#drop_factory {
  position: absolute;
  width: 98%;
  top: 0px;
  left: 1%;
  bottom: 0px;
  z-index: 0;
}


.auto_con {
  position: relative;
  height: auto;
}

.auto_con .con {
  list-style-type: none;
  border: 1px solid $worktable-con-bdcolor;
  min-width: 57px;
  min-height: 57px;
  background-color: $worktable-con-bgcolor;
  position: absolute;
  z-index: 990;
  overflow: hidden;
  box-shadow: 1px 0px 1px 1px rgba(221, 221, 221, 0.45);
}

.add_new_con {
  box-sizing: content-box;
  position: fixed;
  right: 5%;
  display: inline-block;
  text-align: center;
  z-index: 999;
  @include gradient-horizontal($start-color: nth($worktable-add-bgcolor,2), $end-color: nth($worktable-add-bgcolor,3));
  height: 70px;
  width: 70px;
  line-height: 70px;
  bottom: 5%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 4px 0px #fff, 0px 0px 0px 0px nth($worktable-add-bgcolor,3);
}
.add_new_con:hover { box-shadow: 0px 0px 4px 10px #fff, 0px 0px 0px 9px nth($worktable-add-bgcolor,3); }

.add_new_con > span {
  position: relative;
  display: inline-block;
  margin: 15px 0 0 6px;
  width: 40px;
  height: 40px;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: $worktable-add-iconcolor;
}

.placeholder {
  list-style-type: none;
  position: absolute;
  z-index: 900;
  border: 2px dashed #ccc; }

.drag_bar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 36px;
  color: $worktable-con-title-ftcolor;
  @include bgimgCover($src:"../img/#{$img-path}/#{$worktable-sub-title-bg}",$position:right);
  cursor: move;
  text-align: left;
  overflow: hidden;
  line-height: 36px;
  padding-left: 16px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drag_bar .con_head_type {
  float: left;
  margin-left: 10px; }

.drag_bar .con_head_refresh {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: $worktable-con-title-iconcolor;
  &:hover:before{
    color: $worktable-p-title-btn-hover;
  }
}

.drag_bar .con_head_delete {
  cursor: pointer;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: $worktable-con-title-iconcolor;
  &:hover:before{
    color: $worktable-p-title-btn-hover;
  }
}

.con_content {
  width: 100%;
  padding-top: 30px;
  height: 100%;
  overflow: hidden;
}

.con_content iframe {
  height: 100%;
  width: 100%;
}
.resize_bar {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: se-resize;
  text-align: center;
}

.resize_bar span {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
  right: 5px;
  bottom: 5px;
}

#mask_con {
  position: fixed;
  display: none;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  background-color: rgba(17, 17, 17, 0.47);
}

.mask_content {
  width: 700px;
  height: 460px;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 999;
  @include box-shadow($x: 0px, $y: 0px, $r: 16px, $alpha: 0.45);
}

.mask_content_head {
  height: 40px;
  width: 100%;
  @include bgimgCover($src:"../img/#{$img-path}/#{$worktable-main-title-bg}",$position:right);
  @include clear-after;
  font-size: 18px;
  color: $worktable-p-title-ftcolor;
  line-height: 40px;
  padding-left: 20px;
}

.btn-box {
  float: right;
  margin: 10px 14px 0 0;
  @include clear-after;
  li {
    float: left;
    margin-right: 6px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    background-color: $worktable-p-title-btn-bgcolor;
    cursor: pointer;
    &:hover {
      background-color: $worktable-p-title-btn-hover;
    }
  }
}

.mask_content_con {
  height: 415px;
  overflow-x: hidden;
  overflow-y: auto;
  @include beautifyScrollbar();
  background-color: $worktable-con-bgcolor;
  width: 100%;
  color: #666;
}

.mask_content_bottom {
  width: 100%;
  height: 5px;
  @include bgimgCover($src:"../img/#{$img-path}/#{$worktable-main-title-b-bg}",$position:right);
}

#panel_ul {
  @include clear-after;
  width: 618px;
  margin: 0 auto;
  padding-top: 20px;
  .panel-li{
    width: 206px;
    height: 106px;
    float: left;
    cursor: pointer;
    .one-tab {
      width: 180px;
      height: 80px;
      font-size: 16px;
      margin: 13px 0 0 13px;
      border-radius: 2px;
      text-align: center;
      line-height: 80px;
      color: $worktable-tab-ftcolor;
      border: solid 1px $worktable-tab-bdcolor;
      @include text-overflow();
    }
    &.active {
      @include bgimgCover($src:"../img/#{$img-path}/#{$worktable-tab-bg}",$position:right);
      .one-tab {
        color: $worktable-tab-ftcolor-active;
        border: solid 1px transparent;
      }
    }
  }
}

.mask_content_con p {
  margin: 4px 0px 10px 0px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  font-size: 14px;
  padding-left: 0px; }
.mask_content_con .default_panel {
  width: 100%;
  height: auto; }
.mask_content_con .default_panel > span {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0px 4px 6px 0px;
  padding: 4px 10px 4px 10px;
  vertical-align: middle;
  cursor: pointer; }
.mask_content_con .add_panel {
  width: 100%; }
.mask_content_con .add_panel label {
  font-size: 12px;
  display: inline-block;
  width: 30px; }
.mask_content_con .add_panel > div {
  display: inline-block;
  width: 270px;
  height: 100px;
  float: left; }
.mask_content_con .add_panel > div > div {
  padding: 10px 0px 10px 0px; }
.mask_content_con .add_panel > div input[type=text] {
  margin-left: 10px;
  border: none;
  width: 220px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px; }
.mask_content_con .add_panel > div input[type=text]:focus {
  outline: none; }
.mask_content_con .add_panel #ensure_create {
  font-size: 14px;
  display: inline-block;
  width: 85px;
  margin-top: 23px;
  height: 53px;
  line-height: 53px;
  border-radius: 4px;
  float: right;
  background-color: #178CDF;
  color: $worktable-con-bgcolor;
  text-align: center;
  cursor: pointer; }

