/*这里是项目组件样式覆盖css,项目样式覆盖必须在这里写*/
body {
    padding: 16px 16px 0 16px;
    background-color: #F1F2F6;
}
.btnlayout {
    position: absolute;
    right: 10px;
    top: 2px;
}
.tafieldset-header {
    border-radius: 0;
}
.slick-header-column.ui-state-default {
    background-color: #F4F4F4;
    border-right-color: #CECECE;
    border-top-color: #CECECE;
    border-bottom-color: #CECECE;
}
.slick-pane-header {
    background-color: #ffffff;
}
.slick-row .slick-cell {
    background-color: #ffffff!important;
}
.slick-cell.selected {
    color: black!important;
}
.btndelete {
    background-color: #F56C6C!important;
}
.btnmodify {
    background-color: #1B65B9!important;
}
.btnadd {
    background-color: #67C23A!important;
}
.btnsave {
    background-color: #67C23A!important;
}
.btnclose {
    background-color: #1B65B9!important;
}
form {
    background-color: white!important;
    padding-left: 10px!important;
}
.window form {
    padding-left: 0px!important;
}
.window body {
    padding:0px!important;
    background-color: white!important;
}