<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="zkClient" class="com.yinhai.idgenerator.ext.MyZkClientFactoryBean">
		<property name="connectString" value="192.168.10.237:2181" />
	</bean>
	<bean class="org.mohrss.leaf.idgenerator.IdGenUtil">
		<property name="zkClient" ref="zkClient"/>
		<property name="suffix" value=""/>
	</bean>
</beans>