//----社保系VI蓝色风格-------\(^o^)/~对应颜色文档可以查看前端style整合.xlsx

//图片路径变量
$img-path:"shebaoBlue";

//主颜色变量
$main-color:#0077e0,#ffffff;
$sub-color:#0077e0,#ffaa3c;

$main-ftcolor:#404040;
$text-l1-color:#666;
$text-l2-color:#999;
$text-l3-color:#ccc;

//基本颜色变量
$default-color:#ffffff;
$primary-color:#0077e0;
$success-color:#1fd99e;
$warn-color:#f59f3d;
$fail-color:#f45824;
$disabled-color:#dddddd;

//通用颜色

$shadow-color:#8c9398;
$border-color:#d5d7d8;

//顶部横条部分
$top-part-bg:#064faa;
$top-part-bgimg:"top-part-bgimg.png";
$top-part-logo-ftcolor:#fff;
$top-part-help-ftcolor:#fff;
$top-part-usercontrol-ftcolor:#fff;
$top-part-usercontrol-bgcolor-hover:#177dd7;

//顶部横向一级菜单导航变量
$menu-one-h-bgcolor:nth($main-color,1);
$menu-one-h-bgcolor-hover:90deg,#167cd6,#0754af;//渐变一维数组
$menu-one-h-bgcolor-active:#177dd7;
$menu-one-h-ftcolor:nth($main-color,2);


//顶部一级菜单更多导航中的选项
$moremenu-one-h-bgcolor:nth($main-color,2);
$moremenu-one-h-bgcolor-hover:#ebf6ff;
$moremenu-one-h-bgcolor-active:#ebf6ff;
$moremenu-one-h-iconcolor:nth($main-color,1);
$moremenu-one-h-ftcolor:$main-ftcolor;
$moremenu-one-h-barcolor:nth($main-color,1);
$moremenu-one-h-linecolor:lighten($border-color,10%);

//左侧顶部控制条
$menu-one-d-control-bgcolor:#0E3896;
$menu-one-d-control-ftcolor:#fff;
$left-part-control-bgcolor:#0E3896;
$left-part-control-ftcolor:#fff;
$menu-common-control-bgcolor:#1443AD;
$menu-common-control-ftcolor:#fff;
$left-part-splitbar-color:#10368A;


//左侧下拉式一级菜单
$menu-one-d-bgcolr:#0e3896;
$menu-one-d-bgcolr-hover:nth($main-color,1);
$menu-one-d-bgcolr-active:nth($main-color,1);
$menu-one-d-ftcolr:#fff;


//左侧二级菜单
$menu-two-bgcolor:#0d5ab9 ;//#47a4f4
$menu-two-bgimg:"menu-two-bgimg.png";
$menu-two-bgcolor-hover:nth($main-color,1);
$menu-two-bgcolor-active:#0048b3;
$menu-two-ftcolor:#fff;
$menu-two-ftcolor-hover:#fff157;
$menu-two-ftcolor-active:#fff157;

//左侧下拉式三级菜单
$menu-three-bgcolor:#0f5dbe;
$menu-three-bgcolor-hover:nth($main-color,1);
$menu-three-bgcolor-active:nth($main-color,1);
$menu-three-ftcolor:#fff;
$menu-three-ftcolor-hover:#fff;
$menu-three-ftcolor-active:#fff;

//左侧侧滑式三级菜单以及3+菜单
$menu-next-bgcolor:nth($main-color,2);
$menu-next-bgcolor-hover:#419ff4;
$menu-next-bgcolor-active:#419ff4;
$menu-next-ftcolor:$main-ftcolor;
$menu-next-ftcolor-hover:nth($main-color,2);
$menu-next-ftcolor-active:nth($main-color,2);
$menu-next-boxshadow-color:#0079cd;

//常用菜单
$menu-common-bgcolor:#0e3896;
$menu-common-bgcolor-hover:nth($main-color,1);
$menu-common-bgcolor-active:nth($main-color,1);
$menu-common-ftcolor:#fff;
$menu-common-iconcolor:#419ff4;
$menu-common-iconcolor-hover:#fff;
$menu-common-iconcolor-active:#fff;

//右侧用户信息
$user-bgcolor-active:#177dd7;
$user-border-color:lighten($border-color,10%);
$user-position-name:#4fd552;
$user-menu-active:#ebf6ff;
$user-person-head:#0077e0;
$user-sign-success:$success-color;
$user-notice-count:$fail-color;
$user-notice-tip:$fail-color;
$user-notice-date:#999999;
$user-notice-content:#666666;
$user-notice-contentbg:#f2f2f2;
$user-pwd-valid:$fail-color;
$user-pwd-validbg:#ffebeb;
$user-post-now:$fail-color;
$user-box-shadow:#0079cd;
$user-logout-color:nth($sub-color,2);

//index-tab标签功能
$index-tab-bgcolor: #f8f8f8,#f8f8f8;
$index-tab-bgcolor-active: nth($main-color,2);
$index-tab-bdcolor: #d0d3d6;
$index-tab-ftcolor: #08345d;
$index-tab-ftcolor-active: #0076e2;
$index-tab-close: #d0d3d6;
$index-tab-close-active: $fail-color;
$index-tab-more: #a4aeb6;
$index-tab-more-active: nth($main-color,1);
$index-tab-more-bdcolor: #f2f2f2;
$index-tab-more-hover: #ffead3;
$index-tab-main-ftcolor:$main-ftcolor;
$index-tab-color-white: #fff;

//工作台
$worktable-p-title-ftcolor: nth($main-color,2);
$worktable-p-title-btn-bgcolor: nth($main-color,1);
$worktable-p-title-btn-hover: $index-tab-close-active;
$worktable-tab-bg: "worktable-tab-bg.png";
$worktable-tab-bdcolor: nth($main-color,1);
$worktable-tab-ftcolor: nth($sub-color,1);
$worktable-tab-ftcolor-active: nth($main-color,2);
$worktable-con-bgcolor: nth($main-color,2);
$worktable-con-bdcolor:#dae0e6;
$worktable-con-title-ftcolor: nth($main-color,2);
$worktable-con-title-iconcolor: nth($main-color,2);
$worktable-add-bgcolor: 120deg,#48a3e7,#92cdf9;
$worktable-add-iconcolor: nth($main-color,2);
$worktable-main-title-bg: "worktable-title-top.png";
$worktable-sub-title-bg: $worktable-main-title-bg;
$worktable-main-title-b-bg: "worktable-title-bottom.png";

//消息通知提示框
$notice-head-bgimg:"tishi-bgimg.png";
$notice-context-titlebordercolor:#419ff4;